$white: #ffffff;
$black: #000000;
$light-black: #4f4f4f;
$turquoise: #40e0d0;
$light-gray: #a9a9a9;
$very-light-gray: #f2f2f2;
$battleship-gray: #828282;
$gray-black: #333333;
$dark-gray: #a9a9a9;
$silver: #bdbdbd;
$flamingo: #eb5757;
